body {
	font-family: 'Roboto', sans-serif;
}
main {
    background-color: #FFF9F4;
}
.nav-link {
	color: #2A2550;
	font-weight: bold;
}
h1 {
	font-weight: bold !important;
}
.button {
	padding: 5px 15px;
	border-radius: 10px;
	cursor: pointer;
}
.btn-masuk {
	background-color: white;
	color: #FF7700;
	border: 1px solid #2A2550;
}
.btn-daftar {
	background-color: #2A2550;
	color: white;
	border: none;
	padding: 7px 18px;
}
.btn-masuk:hover {
	background-color: #2A2550;
	color: white;
}
.btn-daftar:hover {
	background-color: #524b81;
}
.hero {
	background-color: #FFF9F4;
}
.rules {
	background-color: #FFF9F4;
}
.why-item {
	width: 100%;
}
.syarat-title{
	background-color: #D9D9D9;
	border-radius: 10px 10px 0px 0px;
}
.card {
	border-radius: 10px 10px 0px 0px !important;
}
.alur-pesan li{
    display: inline;
}
.cari_kendaraan {
    width: 50%;
    border-radius: 10px 10px 10px 10px !important;
}
.shadow {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.cari_kendaraan hr {
    margin-top: -5px;
}
.wilayah {
    width: 50% !important;
}
h3 {
    font-weight: 700 !important;
    font-size: 20px !important;
    color: #2A2550 !important;
}
.submit , .lanjutkan {
    float: right;
    color: white;
    background-color: #FF7700;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.lanjutkan {
    float: left;
    padding: 5px 25px;
}
.onPage {
    font-weight: 700;
}
.lanjutkan:hover {
    text-decoration: none;
    color: white;
    background-color: #f89a48;
}
.submit:hover {
    background-color: #f89a48;
}
.filter {
    width: 30%;
    border-radius: 10px 10px 10px 10px !important;
}
.filter input {
    display: inline-block;
}
.form-group hr {
    margin-top: -4px;
    margin-bottom: 2px;
}
.hasil_pencarian {
    width: 70%;
    margin-left: 10px;
}
.item-hasil {
    border-radius: 10px 10px 10px 10px !important;
}
.item-hasil .konten-tengah{
    margin-left: 20px;
    flex-grow: 1;
}
.item-hasil .konten-kanan{
    flex-grow: 2;
}
.konten-tengah p{
    line-height: 0em;
}
.konten-kanan p {
    line-height: 0.7em;
}
.item-hasil i {
    font-size: 16px;
}
.harga-sewa {
    color: #FF7700;
    font-size: 20px;
    font-weight: 600;
}
footer {
	background-color: #2A2550;
	color: white;
}
.footer-address {
	margin-top: -20px;
}
